/**
 * 在线图像处理页面样式
 * @author 薛望
 * 2020/07/15
 */

*{
	margin: 0;
	padding: 0;
}
:root{
	--global-height: 656px;
	--header-height: 50px;
	--main-nav-width: 50px;
	--main-panel-width: 240px;
	--main-right-width: 240px;
	--footer-height: 22px;
	--theme: #292c31;
	--text-color: #d5d5d5;
	--cannel-button-color: #808080e3;
	--ok-button-color: #00bcd4e3;
}
body{
	cursor: default;
}
#wrapper{
	display: flex;
	flex-direction: column;
	height: var(--global-height);
	width: 100%;
	box-sizing: border-box;
}
#header{
	background-color: var(--theme);
	height: var(--header-height);
	display: flex;
}
#home{
	line-height: var(--header-height);
	width: 50px;
	text-align: center;
}
#home>span{
	font-size: 28px;
	color: white;
	cursor: pointer;
}
#toggle{
	line-height: var(--header-height);
	text-align: center;
	font-size: 28px;
	color: white;
	cursor: pointer;
}
#header-logo{
	width: 240px;
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-family: "华文行楷",serif;
	line-height: var(--header-height);
	text-shadow: 2px 2px 3px white;
}
#header-nav{
	flex: 1;
	display: inline-block;
	height: var(--header-height);
}
#header-nav>ul{
	list-style: none;
}
#header-nav>ul>li{
	display: inline-block;
	line-height: var(--header-height);
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	color: var(--text-color);
	cursor: pointer;
	font-size: 14px;
	/*overflow: hidden;*/
	position: relative;
}
#header-nav>ul>li:hover{
	background-color: rgb(23,23,25);
}
#header-nav>ul>li:hover .nav-sub{
	display: block;
}
.nav-sub{
	display: none;
	width: 200%;
	position: absolute;
	top: var(--header-height);
	left: 0;
	list-style: none;
	z-index: 10000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: #ffffff82;
}
.nav-sub>li{
	line-height: 40px;
	text-align: center;
	height: 40px;
	color: var(--text-color);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
.nav-sub>li:hover{
	background-color: #808080e3;
	color: white;
}
#main{
	flex: 1;
	display: flex;

}
#main-nav{
	width: var(--main-nav-width);
	background-color: var(--theme);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#main-nav>ul{
	width: 100%;
	list-style: none;

}
#main-nav>ul>li{
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	color: var(--text-color);
} 
#main-nav>ul>li:hover{
	color: white;
}
#main-nav>ul>li>span{
	font-size: 25px;
	height: 100%;
}
#main-nav>ul>li.active{
	background-color: rgb(23,23,25);
	border-left: 3px solid var(--ok-button-color);
	box-sizing: border-box;
}
#main-panel{
	width: var(--main-panel-width);
	background-color: var(--theme);
	border-left: 2px solid rgb(23,23,25);
	border-right: 1px solid rgb(23,23,25);
	border-bottom: 1px solid #9e9e9e17;
	/*box-shadow: 2px 0 2px rgb(23,23,25) inset;*/
	display: none;
	flex-direction: column;
	align-items: center;
	position: relative;
}
#main-panel-title{
	width: 90%;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px solid gray;
	color: var(--text-color);
}
#main-panel-content{
	flex: 1;
	width: 100%;
	overflow: auto;
	padding-top: 30px;
	max-height: 454px;
}
#main-panel-content::-webkit-scrollbar{
	width: 6px;
}
#main-panel-oper{
	line-height: 40px;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
#main-panel-oper>button,.model button{
	line-height: 25px;
	width: 90px;
	border: 1px solid var(--cannel-button-color);
	border-radius: 5px;
	opacity: 0.8;
	color: white;
	cursor: pointer;
}
#main-panel-oper>button:hover,.model button:hover{
	opacity: 1;
}
#main-panel-oper>button:focus,.model button:focus{
	outline: none;
}
#main-panel-oper>button:first-child,.model button:first-child{
	background-color: var(--cannel-button-color);
}
#main-panel-oper>button:last-child,.model button:last-child{
	background-color: var(--ok-button-color);
	border: 1px solid var(--ok-button-color);
	margin-left: 10px;
}
#main-content{
	flex: 1;
	background-color: rgb(23,23,25);
	box-sizing: border-box;
	overflow: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
}
div::-webkit-scrollbar{/*滚动条整体样式*/
	background-color: #202225;
	width: 16px;
	height: 16px;
}
div::-webkit-scrollbar-corner{/*两个滚动条的交汇处*/
	background-color: rgba(255, 255, 255, 0.1);
}
div::-webkit-scrollbar-thumb{/*滚动条里面小方块*/
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	width: 10px;
	height: 10px;
}
div::-webkit-scrollbar-track{/*滚动条里面轨道*/
	/*background-color: #202225;*/
}

#contains{
	height: 100%;
	width: 100%;
/*	background-image: url(../../pic/xk.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
	/*transform: scale(0.5);*/
	margin: 0 auto;
}
#main-right{
	width: var(--main-right-width);
	background-color: var(--theme);
	position: relative;
	display: flex;
	flex-direction: column;
}
.main-right-contains{
	display: flex;
	flex-direction: column;
}
.main-right-contains>div{
	/*border-top:1px dotted gray;*/
}
.main-right-contains>div:nth-of-type(1){
	color: var(--text-color);
	line-height: 35px;
	text-align: center;
	/*border-top: 2px solid #292c31;*/
	
}
.main-right-contains>div:nth-of-type(2){
	flex: 1;
	max-height: 217px;
	border-top: 1px solid rgb(23,23,25);
	overflow: auto;
	box-sizing: border-box;
}
.main-right-contains>div:nth-of-type(2)::-webkit-scrollbar{
	width: 6px;
}
.main-right-contains>div:nth-of-type(2)>ul{
	list-style: none;
}
.main-right-contains>div:nth-of-type(2)>ul>li{
	border-radius: 3px;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 1px;
}
.main-right-contains>div:nth-of-type(2)>ul>li:not(.active):hover{
	background-color: gray;
}
.main-right-contains>div:nth-of-type(3){
	line-height: 32px;
	display: flex;
	color: var(--text-color);
	cursor: pointer;
	justify-content: center;
}
.main-right-contains>div:nth-of-type(3)>div:hover{
	color: white;
}
#history{
	flex: 1;
}
.history-oper{
	flex: 1;
	text-align: center;
}
#history-content>ul>li{
	line-height: 30px;
	color: white;
	text-indent: 1em;
	padding-right: 12px;
	display: flex;
	justify-content: space-between;
}
#layer{
	flex: 1;
}
#layer-content>ul>li{
	height: 50px;
	line-height: 50px;
	color: white;
	display: flex;
	align-items: center;
}
#layer-content>ul>li .show-canvas,#layer-content>ul>li .del-canvas{
	width: 40px;
	text-align: center;
	cursor: pointer;
}
#layer-content>ul>li .canvas-name{
	flex: 1;
	overflow: hidden;
	font-size: 13px;
	text-indent: 1em;
}
#layer-content>ul>li>canvas{
	border: 1px solid white;
}
.active{
	background-color: var(--ok-button-color);
}
.layer-oper{
	text-align: center;
	width: 50px;
}
#footer{
	background-color: var(--theme);
	height: var(--footer-height);
	display: flex;
}
#content-info{
	flex: 1;
	display: flex;
	color: var(--text-color);
	font-size: 13px;
	align-items: center;
	/*justify-content: space-around;*/
}
#image-size,#pos-info{
	width: 120px;
	text-align: center;
}
#pos-info>span{
	display: inline-block;
	width: 34px;
	text-align: center;
}
#pos-info>span:first-child{
	margin-right: 5px;
}
#scale{
	flex: 1;
	/*align-self: flex-end; */
	text-align: right;
	padding-right: 50px;
	line-height: var(--footer-height);
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: flex-end;
}
#scale>input[type=range]{
	margin-left: 10px;
	margin-right: 10px;
}
#scale>input[type=text]{
	height: 80%;
	width: 40px;
	text-align: center;
	font-size: 12px;
	margin-left: 10px;
	background-color: var(--theme);
	border: 1px solid gray;
	border-radius: 5px;
	color: var(--text-color);
}
#footer>div{
	height: 100%;
}
#footer>div:first-child{
	width: var(--main-nav-width);
}
#footer>div:last-child{
	width: var(--main-right-width);
}
.splitter-left{
	display: block;
	background:repeating-linear-gradient(45deg,#414348 2px,#414348 2px,transparent 5px,transparent 6px);
	height: 8px;
	width: 100%;
}
.splitter-right{
	display: block;
	background:repeating-linear-gradient(-45deg,#414348 2px,#414348 2px,transparent 5px,transparent 6px);
	height: 8px;
	width: 100%;
}
.close{
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 25px;
	color: var(--text-color);
	cursor: pointer;
}
.close:hover{
	color: white;
}
dialog{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--theme);
	border-radius: 8px;
    box-shadow: 0 0 3px gray;
	border : 0;
}
#warning .model{
	height: 150px;
	width: 300px;
}
#inputUrl .model{
	height: 180px;
	width: 400px;
}
#inputUrl .model-content{
	text-align: center;
}
.model{
	position: relative;
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}
.model-header{
	width: 100%;
	line-height: 35px;
	text-indent: 1em;
}
.model-header .close{
	top: 0px;
}
.model-content{
	flex: 1;
	width: 100%;
	display: flex;
	align-items: center;
}
.model-content>p{
	text-indent: 1em;
}
.model-footer{
	height: 36px;
	width: 100%;
	text-align: right;
	padding-right: 10px;
	box-sizing: border-box;
}
.model-footer>button{
	width: 70px;
}

input[name=imgUrl]{
	height: 32px;
    line-height: 28px;
    color: #999;
    background: rgba(0,0,0,.1);
    border: 2px solid hsla(0,0%,100%,.1);
    border-radius: 2px;
    text-indent: 1em;
    width: 80%;
    margin: 0 auto;
}
input[name=imgUrl]:hover{
	border: 2px solid hsla(0,0%,100%,.3);
}
input[name=imgUrl]:focus{
	border: 2px solid var(--ok-button-color);
	outline: 0 ;
}